<form action="/users/login" method="post">
  <input type="text" name="username"  id="username" class="form__input" placeholder="username" value="username">
  <!-- remove password value later -->
  <input type="password" name="password" id="password" class="form__input" value="password">
  <button type="submit">Login</button>
</form>
